/*PÁGINA: FALE CONOSCO*/

/*Deixa toda a página centralizada. Sem bordas brancas ao lado.*/
*{
	padding:0;
	margin:0 auto;
}

header
{
    height: 110px;
    border-bottom:1px solid rgb(204, 204, 204);
    padding-bottom:45px ;
}

.logo
{
    margin-top:20px;
}

.logoe_nome
{
    float:left;
    font-family: 'Nunito', sans-serif;
    font-size:40px;
}


/*Página abaixo do cabeçalho*/
#wrapper{
    
}

.barra_superior{
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(187, 187, 187);
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 14px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-family: Trebuchet MS;
}

/* links de navegacao da pagina */
nav{
    color: rgb(187, 187, 187); /* muda a cor da fonte */
    font-size: 12px;
    float: right;
    margin-top: 50px;
}

nav a{
    color: rgb(187, 187, 187); 
    text-decoration: none; /*tira o underline do link */
    font-family:Trebuchet MS; 
}

nav a.btn_destaque{
    margin-left: 25px;
}

.btn_destaque{
    background-color: rgb(255, 77, 77);
    color: white;
    padding: 12px 40px; /* margem interna do botao sup dir inf esq. somente um ele muda todos */
    border-radius: 3px; /* arredonda as bordas */
    
    font-size: 12px;
    text-decoration: none; 
    
}

/*Imagem Oculos em cima do Notebook*/
/*Colocar texto em cima da imagem do óculos*/
#img_oculos{
    
    position:relative;
    margin-top: 50px;
    font-family:Trebuchet MS;
        
    margin:0a auto;
    width:1100px;
    
    /*Alinha imagem ao centro
    align-items:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
*/
}


#img_oculos figcaption{
    position:absolute;
    top: 80px;
    right:370px;
    font-size:75px;
    text-align: center;
}

.texto_acima_form
{
    margin-top:40px;
    
    font-family:Trebuchet MS;
    font-size:40px ;
    width:600px
}

/*Sessão do formulário*/
form
{
    font-family:Trebuchet MS;
    font-size:20px ;
    
    margin:0 auto;
    width:500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    
    margin-top:70px;
}

input, textarea
{
    width:500px;
    font-size: 20px;
    font-family: arial;
}

input
{
    height:30px;
}

textarea
{
    height:250px;
}

.btn_enviar_msg
{
    margin:0 auto;
    width:400px;
    display: flex;
    
}

button
{
    margin:0 auto;
    width:200px;
    height:30px;
    font-family:Trebuchet MS;
    font-size:20px;
    
    background: rgb(255, 77, 77);
    color: white;
    border-radius: 3px;
    border:3px rgb(255, 77, 77); 
    
    cursor: pointer;
}


/*Sessão das Redes sociais*/

.texto_redes_sociais
{
    margin-top:80px;
    margin-bottom:90px;
    font-family:Trebuchet MS;
    font-size:40px ;
    width:600px
}

/*Alinha a sessão ao centro da página*/
.sec_redes_sociais
{
    width:900px;
    margin:0 auto;
}

.redes_sociais
{
    font-family:Trebuchet MS;
    font-size:15px;
    width:150px;
    margin-left:60px;
    float:left;
    color:black;
    text-align: center;
}

.redes_sociais:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}


.redes_sociais img
{
    padding-left:;
    width:150px;
}


/*Parte do rodapé*/

footer
{
    width:100%;
    margin-top:400px;
}

/*Esta classe foi criada para colocar todas as informações do footer em uma só para que pudesse
ser alinhado ao meio*/
.footer2
{
    margin: 0 auto;
    width:945px;
    margin-left:px;
}

.footer_informacoes
{
    width:285px;
    height:200px;
    font-family:Trebuchet MS;
    margin-left: 30px;
    float:left;
    text-decoration: none;   
}

.footer_informacoes a
{
    text-decoration: none;
    color: black;
}

.footer_informacoes a:hover
{
    text-decoration: underline;
}

.TermosPolitica
{
    margin-top: 50px;
    float: left;
    background-color:red;
    height: 100px;
    text-align: center;
    width:100%;
    color: white;
    font-family:Trebuchet MS;
}

.TermosPolitica p
{
    padding-top:40px;
}

.TermosPolitica a
{
    color:white;
}



