/*PÁGINA: INICIAL*/

/*Deixa toda a página centralizada. Sem bordas brancas ao lado.*/
*{
	padding:0;
	margin:0 auto;
}

body
{
    font-family:sans-serif;
}

header{
    width: 100vw;

    background-image: url(../img/Header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 167px;
}


.container{
    width: 100%;
    
    font-family: Trebuchet MS;
}

.container nav{
    margin-right: 15%;
    font-size: 1.5em;
}

 
/* Logo canto superior esquerdo*/
.logo_superior_esquerdo
{
    float: left;
    margin-top: 1%;
    margin-left: 15%; 
}







/* links de navegacao da pagina */
nav{
    color: rgb(187, 187, 187); /* muda a cor da fonte? */
    font-size: 12px;
    float: right;
    margin-top: 50px;
    font-family: monospace;
}

nav a{
    color: rgb(187, 187, 187); 
    text-decoration: none; /*tira o underline do link */
    
}


nav a.btn_destaque{
    margin-left: 25px;
}

.btn_destaque{
    background-color: #FFF81A; 
    color:black;
    padding: 12px 40px; /* margem interna do botao sup dir inf esq. somente um ele muda todos */
    border-radius: 3px; /* arredonda as bordas */
    
    font-size: 1em;
    text-decoration: none; 
    
}

/* Logo do main*/
.logoe_nome_main{
    float: left;
    margin-left: 7%;
}

/* Sobre a empresa */
.titulosobre{
    font-size: 2em;
}

.conteudosobre{
    float: left;
    max-width: 50%;
    margin-left: 5%;
    font-size: 1.09em;
}

.textosobreempresa{
    text-align: justify;
    float: right;
    margin-top: 3%;
    font-family: 'Roboto' sans-serif;
}

.sobreaempresa1{
    width: 100vw;
    
    margin-top: 5%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sobreaempresa2{
    
    width: 95%;
    
}


/* Aqui começam as imagens MISSÃO, VALORES E VISÃO */

.valorMissaoVisao{
    height: 800px;
    width: 100vw;

    margin-top: 5%;

    font-family: Arial;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.missao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 1.75; 

    width: auto;
    height: 800px;
  
}   

/* COMEÇO MISSÃO */

 .tituloMissao{
    margin-bottom: 40px;
    text-align: justify;
    max-width: 250px;
    font-size: 30pt;

 }

 .conteudoMissao{
    height: 100%;
    text-align: justify;
    max-width: 400px;
    font-size: 1.2em;
 } 
 /* FIM MISSÃO */



/* COMEÇO VALORES */
.valores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    text-align: center;
    width: auto;
    height: 800px;
}



 .tituloStar{
    margin-bottom: 50px;
    text-align: justify;
    max-width: 250px;
    font-size: 30pt;


 }

 .conteudoStar{
    height: 100%;
    text-align: justify;
    line-height: 1.75;
    
    max-width: 400px;
    font-size: 1.2em;
 }
/* FIM VALORES */


/* COMEÇO VISÃO */

.visao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 800px;
}

 .tituloSearch{
    text-align: justify;
    max-width: 250px;
    font-size: 30pt;
    margin-bottom: 50px;
 }

 .conteudoSearch{
    text-align: justify;
    line-height: 1.75;
    max-width: 400px;
    font-size: 1.2em;
    height: 100%;
 }
 /* FIM VISÃO */

 /*Barra azul*/
.barraAzul{
    background-color: #6A5ACD;
    height:auto;
    width: 100vw;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.equipe{
    margin-bottom: 25px;
    color: white;
    font-size: 30pt;
}
.nomes{
    color: white;
    font-size: 15pt;
}


/*Foto borrada*/
.imagemCaoHumano{
    height: 400px;
}

.imagemCaoHumano div{
    position: relative;
}

.imagemCaoHumano img{
    position: absolute;
    width: 100vw;
    height: 400px;
}

/* "PET FELIZ" */
.textonafoto{
    position: absolute;
    color:white;
    font-size: 35pt;

    text-align: center;
    width: 100vw;
    padding-top: 170px;
}

/*Barra amarela*/
.barraAmarela{
    background-color: #FFF81A;
    height:300px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixaInterna{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Texto na barra amarela*/
.textoBarraAmarela{
    margin-left: 25px;
    font-size: 15pt;
    font-family: arial;
    line-height: 1.25;
}


.sobreProduto-disponivelAndroid{
    width: 100vw;
    margin-top: 90px;
}

.sobreProduto-caixaInterna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;
}


.textoDogWalker{
    text-align: center;
    font-size: 18pt;
    font-family: arial;

    margin-bottom: 70px;
}

.fotoDogWalker{
    margin-bottom: 180px;
}

/*Foto e texto Android*/
.textoAndroid{
    
    text-align: center;
    font-size: 30pt;
    font-family: arial;
}

footer{
    background-image: url(../img/footer.png);
    background-size: 100vw 500px;
    height: 500px;
    width: 100vw;
}


.caixaInternaFooter{
    padding-top: 100px;

    height:400px;
    
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Aqui começa o FOOTER*/

/*"Contatos"*/

.contatos{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 500px;
    height: 350px;
}

.textoContato{
    color: white;
    font-size: 20pt;
}

/*Linha do meio FOOTER*/
.linhaFooter{
    background-color: white;
    width: 2px;
    height: 300px;
}


/*Coloquei o Endereço de E-mail em uma DIV separada para centralizar-lo*/
.centralizarEmail{
    color: white;
    font-size: 20pt;
}

/*Barra azul*/
.redesSociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 80px;
}

.linkTwitter{
    margin-left: 50px;
    margin-right: 50px;
}

.navegacaoFooter{
    
    text-align: center;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 350px;
}

.navegacaoFooter a{
    color: white;
    text-decoration: none; 
}

.navegacaoFooter a:hover{
    text-decoration: underline;
}

/*Termos de Uso e Política de Privacidade*/
.TermosPolitica{
    
    top: 3390px;
    right: 120px;
    color: white;
    font-size: 20pt;
    text-decoration: none;
}





/*Daqui para baixo é a parte do rodapé*/
 

/*Esta classe foi criada para colocar todas as informações do footer em uma só para que pudesse
ser alinhado ao meio
.footer2
{
    margin: 0 auto;
    width:945px;
    margin-left:px;
}

.footer_informacoes
{
    
    width:285px;
    height:200px;
    font-family:Trebuchet MS;
    margin-left: 30px;
    float:left;
    text-decoration: none;
}

.footer_informacoes a
{
    text-decoration: none;
    color: black;
}

.footer_informacoes a:hover
{
    text-decoration: underline;
}

.TermosPolitica
{
    margin-top: 50px;
    float: left;
    background-color:red;
    height: 100px;
    text-align: center;
    width:100%;
    color: white;
    font-family:Trebuchet MS;
    
}

.TermosPolitica p
{
    padding-top:40px;
}

.TermosPolitica a
{
    color:white;
}


