/*PÁGINA: INICIAL*/

/*Deixa toda a página centralizada. Sem bordas brancas ao lado.*/
*{
	padding:0;
	margin:0 auto;
}

body
{
    font-family:sans-serif;
}
/* Barra roxa do Header*/
.barraRoxa{
    background-image: url(../img/Header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 167px;
}


.container{
    width: 100%;
    
    font-family: Trebuchet MS;
}

.container nav{
    margin-right: 15%;
}

 
/* Logo canto superior esquerdo*/
.logo_superior_esquerdo
{
    float: left;
    margin-top: 1%;
    margin-left: 15%; 
}







/* links de navegacao da pagina */
nav{
    color: rgb(187, 187, 187); /* muda a cor da fonte? */
    font-size: 12px;
    float: right;
    margin-top: 50px;
    font-family: monospace;
}

nav a{
    color: rgb(187, 187, 187); 
    text-decoration: none; /*tira o underline do link */
    
}


nav a.btn_destaque{
    margin-left: 25px;
}

.btn_destaque{
    background-color: #FFF81A; 
    color:black;
    padding: 12px 40px; /* margem interna do botao sup dir inf esq. somente um ele muda todos */
    border-radius: 3px; /* arredonda as bordas */
    
    font-size: 12px;
    text-decoration: none; 
    
}

/* Logo do main*/
.logoe_nome_main{
    font-family: 'Nunito', sans-serif;
    font-size:40px;
    position: absolute; 
    top: 250px;
    left: 50px;
}
/* Sobre a empresa */
.titulosobre{
    position: absolute;
    top: 250px;
    left: 400px;
    text-align: justify;
    font-size: 25pt;
    font-family: monospace;

}

.conteudosobre{
    position: absolute;
    top: 300px;
    left: 400px;
    text-align: justify;
    font-family: monospace;
    max-width: 600px;
    font-size: 11pt;


}

/* Aqui começam as imagens MISSÃO, VALORES E VISÃO */

/* COMEÇO MISSÃO */
.imgMissao{

    position: absolute; 
    top: 600px;
    left: 150px;

}


 .tituloMissao{
    position: absolute;
    top: 780px;
    left: 155px;
    text-align: justify;
    font-family: monospace;
    max-width: 250px;
    font-size: 30pt;

 }

 .conteudoMissao{

    position: absolute;
    top: 820px;
    left: 50px;
    text-align: justify;
    font-family: monospace;
    max-width: 400px;
    font-size: 13pt;
 } 
 /* FIM MISSÃO */



/* COMEÇO VALORES */
 .imgStar{

    position: absolute; 
    top: 600px;
    left: 630px;

}


 .tituloStar{
    position: absolute;
    top: 780px;
    left: 630px;
    text-align: justify;
    font-family: monospace;
    max-width: 250px;
    font-size: 30pt;

 }

 .conteudoStar{

    position: absolute;
    top: 820px;
    left: 500px;
    text-align: justify;
    font-family: monospace;
    max-width: 400px;
    font-size: 13pt;
 }
/* FIM VALORES */


/* COMEÇO VISÃO */
 .imgSearch{

    position: absolute; 
    top: 600px;
    left: 1050px;

}


 .tituloSearch{
    position: absolute;
    top: 780px;
    left: 1090px;
    text-align: justify;
    font-family: monospace;
    max-width: 250px;
    font-size: 30pt;

 }

 .conteudoSearch{

    position: absolute;
    top: 820px;
    left: 950px;
    text-align: justify;
    font-family: monospace;
    max-width: 400px;
    font-size: 13pt;
 }
 /* FIM VISÃO */

 /*Barra azul*/
.barraAzul{
    background-color: #6A5ACD;
    height:300px;
    width: 1349px;
    position: absolute;
    top: 1150px;
     
}

.equipe{
    color: white;
    position: absolute;
    top: 20px;
    left: 630px;
    font-size: 30pt;
    font-family: monospace;

}
.nomes{
    color: white;
    position: absolute;
    top: 80px;
    left: 540px;
    font-size: 15pt;
    font-family: monospace
}
/*Foto borrada*/
.fotoBorrada{
    position: absolute;
    top: 1450px;

}
/* "PET FELIZ" */
.textonafoto{
    position: absolute;
    top: 1590px;
    left: 585px;
    color: white;
    font-family: monospace;
    font-size: 35pt;
    
}

/*Barra amarela*/
.barraAmarela{
    background-color: #FFF81A;
    height:300px;
    width: 1349px;
    position: absolute;
    top: 1850px;
}
/*Logo do Pet Feliz*/
.logoPetFeliz{
    position: absolute;
    top: 25px;
    left: 25px;
    
}

/*Texto na barra amarela*/
.textoBarraAmarela{
    position: absolute;
    top: 1950px;
    left: 360px;
    font-size: 15pt;
    font-family: arial;

}

/*Foto e texto do Dog Walker*/
.fotoDogWalker{
    position: absolute;
    top: 2400px;
    left: 300px; 
}

.textoDogWalker{
    position: absolute;
    top: 2200px;
    left: 500px;
    font-size: 18pt;
    font-family: arial;

}
/*Foto e texto Android*/
.textoAndroid{
    position: absolute;
    top: 2750px;
    left: 440px;
    font-size: 30pt;
    font-family: arial;
}

.fotoAndroid{
    position: absolute;
    top: 2700px;
    left: 700px;
}

/*Aqui começa o FOOTER*/
.fotoFooter{
    position: absolute;
    top: 3000px;
    bottom: 0px;
}

/*"Contatos"*/
.textoContato{
    position: absolute;
    top: 3150px;
    left: 250px;
    color: white;
    font-size: 20pt;
}

/*Linha do meio FOOTER*/
.linhaFooter{
    background-color: white;
    position: absolute;
    top: 3150px;
    left: 650px;
    width: 2px;
    height: 300px;
}


/*Coloquei o Endereço de E-mail em uma DIV separada para centralizar-lo*/
.centralizarEmail{
    position: absolute;
    top: 3300px;
    left: 150px;
    color: white;
    font-size: 20pt;
}

/*Barra azul*/
.redesSociais{
    position: absolute;
    top: 3400px;
    left: 150px;
}
/*Facebook*/
.linkFacebook{
    position: absolute;
    top:  0px;
    left:  20px;
 }
/*Twitter*/
.linkTwitter{
    position: absolute;
    top:  0px;
    left: 120px;
 }
 /*Instagram*/
.linkInstagram{
    position: absolute;
    top:  0px;
    left: 220px;
     
}

/*Cachorrinho do Footer*/
.fotoCachorroFooter{
    position: absolute;
    top: 3150px;
    right: 220px;

}

/*Termos de Uso e Política de Privacidade*/
.TermosPolitica{
    position: absolute;
    top: 3390px;
    right: 120px;
    color: white;
    font-size: 20pt;
    text-decoration: none;
}





/*Daqui para baixo é a parte do rodapé*/
 

/*Esta classe foi criada para colocar todas as informações do footer em uma só para que pudesse
ser alinhado ao meio
.footer2
{
    margin: 0 auto;
    width:945px;
    margin-left:px;
}

.footer_informacoes
{
    
    width:285px;
    height:200px;
    font-family:Trebuchet MS;
    margin-left: 30px;
    float:left;
    text-decoration: none;
}

.footer_informacoes a
{
    text-decoration: none;
    color: black;
}

.footer_informacoes a:hover
{
    text-decoration: underline;
}

.TermosPolitica
{
    margin-top: 50px;
    float: left;
    background-color:red;
    height: 100px;
    text-align: center;
    width:100%;
    color: white;
    font-family:Trebuchet MS;
    
}

.TermosPolitica p
{
    padding-top:40px;
}

.TermosPolitica a
{
    color:white;
}


