/*PÁGINA: POLITICA DE PRIVACIDADE*/

/*Deixa toda a página centralizada. Sem bordas brancas ao lado.*/
*{
	padding:0;
	margin:0 auto;
}

header
{
    height: 110px;
    border-bottom:1px solid rgb(204, 204, 204);
    padding-bottom:45px ;
}

.logo
{
    margin-top:20px;
}

.logoe_nome
{
    float:left;
    font-family: 'Nunito', sans-serif;
    font-size:40px;
}

.barra_superior{
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(187, 187, 187);
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 14px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* links de navegacao da pagina */
nav{
    color: rgb(187, 187, 187); /* muda a cor da fonte */
    font-size: 12px;
    float: right;
    margin-top: 50px;
}

nav a{
    color: rgb(187, 187, 187); 
    text-decoration: none; /*tira o underline do link */
    font-family:Trebuchet MS;
}

nav a.btn_destaque{
    margin-left: 25px;
}

.btn_destaque{
    background-color: rgb(255, 77, 77);
    color: white;
    padding: 12px 40px; /* margem interna do botao sup dir inf esq. somente um ele muda todos */
    border-radius: 3px; /* arredonda as bordas */
    
    font-size: 12px;
    text-decoration: none; 
    
}

/*Sessão do texto sobre politica de privacidade*/

section
{
    margin-top:100px; /*Dá um espaço entre o texto e a barra de navegação*/
    width:800px;
    font-family:arial;
}

li
{
    margin-left:50px;
}

.borda_texto
{
    width:1100px;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.Texto_politica
{
    font-size:20px;
}

.Texto_politica a button
{
    height:35px;
    width:150px;
    margin: 0 auto;
    background: rgb(255, 77, 77);
    color: white;
    border-radius: 3px;
    border:3px rgb(255, 77, 77); 
    
    cursor: pointer;

    margin-left:325px;
}

.Texto_politica p a
{
    text-decoration: underline;
    color:black;
}

.Texto_politica p a:hover
{
    color: rgb(255, 77, 77);
    text-decoration: underline;
}

.Texto_politica p
{
    text-align: justify;
}

/*Parte do rodapé*/

footer
{
    width:100%;
}

/*Esta classe foi criada para colocar todas as informações do footer em uma só para que pudesse
ser alinhado ao meio*/
.footer2
{
    margin: 0 auto;
    width:945px;
    margin-left:px;
}

.footer_informacoes
{
    width:285px;
    height:200px;
    font-family:Trebuchet MS;
    margin-left: 30px;
    float:left;
    text-decoration: none;   
}

.footer_informacoes a
{
    text-decoration: none;
    color: black;
}

.footer_informacoes a:hover
{
    text-decoration: underline;
}

.TermosPolitica
{
    margin-top: 50px;
    float: left;
    background-color:red;
    height: 100px;
    text-align: center;
    width:100%;
    color: white;
    font-family:Trebuchet MS;
}

.TermosPolitica p
{
    padding-top:40px;
}

.TermosPolitica a
{
    color:white;
}



